*{
    padding: 0;
    margin: 0;
}
.list{
    list-style-type:none;
    display: flex;
    padding: 2rem;
    color: aliceblue;

    /* background-color: grey; */
    justify-content: space-evenly;
    text-transform: uppercase;
    /* background-blend-mode: luminosity; */
    /* background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg"); */
    background-color: aqua;
    font-size: 1rem;

}
a{
    color: black;
    text-decoration: none;

}
.list1 a:hover{
    color: rgb(253, 3, 3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    letter-spacing: 10px;
}
.list a:hover{
    color: rgb(128, 0, 122);
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 8px;
}
.homepage h1{
    display: flexbox;
    justify-content: center;
    background-color: hotpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hello{
    display: inline-block;
    justify-content: center;
}