*{
    padding: 0;
    margin: 0;
}
.list{
    list-style-type:none;
    display: flex;
    padding: 2rem;
    color: aliceblue;

    /* background-color: grey; */
    justify-content: space-evenly;
    text-transform: uppercase;
    /* background-blend-mode: luminosity; */
    background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg");
    font-size: 2rem;

}
a{
    color: white;
    text-decoration: none;

}
.list1 a:hover{
    color: rgb(253, 3, 3);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    letter-spacing: 10px;
}
.list a:hover{
    color: green;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 10px;


}
img{
    opacity: 0.5;
}
